<h2><%= @shouhin.shouhin_name %><img src="http://www.best-sumai.com/brand/img/f-star-4.gif" width="200px"></h2>

<div class="container">
  <div class="sweets-imgs">
    <%= image_tag @shouhin.shouhin_image_1, class: 'big-img' %>
    <%= image_tag @shouhin.shouhin_image_1, class: 'small-img' %>
    <%= image_tag @shouhin.shouhin_image_2, class: 'small-img' %>
    <%= image_tag @shouhin.shouhin_image_1, class: 'small-img' %>
    <%= image_tag @shouhin.shouhin_image_2, class: 'small-img' %>
  </div>

  <h3>このお菓子のこだわりポイント</h3>
  <div class="sweets-detail">
    <%= @shouhin.shouhin_info %>
  </div>

  <div class="cook-profile">
    <h3>これを作った人</h3>
    <%= image_tag @cook.user_image %>
    <div class="description">
      <h4><%= @cook.user_name %></h4>
      <%= @cook.user_info %>
    </div>
  </div>
</div>

<h2>この人が作ったお菓子 <span>History</span></h2>
<div class="container">

  <% @rel_shouhins.each do |relshouhin| %>
    <section class="card">
      <%= image_tag relshouhin.shouhin_image_1, class: 'card-img' %>
      <div class="card-content">
        <h1 class="card-title"><%= relshouhin.shouhin_name %></h1>
        <p class="card-text"><%= relshouhin.shouhin_info %></p>
      </div>
      <div class="card-link">
        <%= link_to '詳細を見る', "/shouhins/#{relshouhin.id}" %>
        <%= link_to '制作者情報', "/users/#{relshouhin.id}" %>
      </div>
    </section>
  <% end %>

</div>

<h2>みんなの評価<span>Graduation</span></h2>

<div class="container">
  <% @comments.each do |comment| %>
  <div class="review-card">
    <!-- <img src="http://stat.ameba.jp/user_images/37/5d/10035026882_s.jpg" class="reviewer" alt="No Image"> -->
    <%= image_tag @reviewer.third.user_image, class: 'small-img' %>
    <div class="review-title"><h3><%= comment.title %></h3></div><img src="http://www.best-sumai.com/brand/img/f-star-4.gif" width="100px">
      <p class="pro">プロ</p
    </div>
    <div class="review-text"><%= comment.comment %></div>
    <!-- to be provided -->
    <a href="" class="see-profile">この人について知る</div>
  </div>
  <% end %>
</div>